.list-group-item:hover{
    background-color: #642070;
    color: white;
    cursor: pointer;
}

.list-group-item:hover .media-body h5,
.list-group-item:hover .media-body p{
    color: white;
}

span{
    color: black;
}

.prerequistie a{
    color: #642070;
}

.homeicon a{
    font-size: 42px;
    text-decoration: none;
}

.table-header{
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.site-logo{
    margin-top: -10px;
}