
<div class="prerequistie container py-5">
    <div class="row text-center text-white mb-5">
        <div class="table-header d-flex justify-content-between align-middle">
            <div class="site-logo">
                <a class="navbar-brand" href="index.html">
                    <img width="40px" src="assets/images/logo.png">
                    <span class="logo-text">ROOTBABU.SOL</span>
                </a>
            </div>
            
            <div class="nav">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#"> List of Blogs </a></li>
                        </ol>
                    </nav>
            </div>
        </div>
        <div class="col-lg-7 mx-auto">
            <div class="homeicon"><a href="#"><i class="fas fa-asterisk"></i></a></div>
            <h1 class="display-4">Prerequisite</h1>
            <span>We are primarily focused on solidity programming, so it's best to do your own research about prerequisites. Below is a starting point for your research.</span>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <li class="list-group-item" *ngFor="let item of config">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{item.title}}</h5>
                            <p class="font-italic text-muted mb-0 small">{{item.para}}</p>
                            <div
                                class="d-flex align-items-center justify-content-between mt-1">
                            </div>
                        </div>
                    </div> <!-- End -->
                </li> <!-- End -->
                
                <div class="modal fade" id="exampleModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen-xxl-down">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div
                                                class="wrapper wrapper-content animated fadeInRight">
                                                <div class="m-b-sm">
                                                    <div class="forum-title">
                                                        <div class="pull-right forum-desc">
                                                            <a>Total links: 320,800</a>
                                                        </div>
                                                        <h3>Blockchain fundamentals sources
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="ibox-content forum-container">
                                                    <div class="forum-item active">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="forum-icon">
                                                                    <i
                                                                        class="fas fa-hand-point-right"></i>
                                                                </div>
                                                                <h5>What Is Blockchain
                                                                    Technology? How Does It
                                                                    Work?
                                                                </h5>
                                                                <div
                                                                    class="forum-sub-title">
                                                                    <b>Research important
                                                                        points: </b>
                                                                    Blockchain
                                                                    Overview, Blocks,
                                                                    Miners, Nodes
                                                                    <br>
                                                                    <b>webpages: </b><a
                                                                        href="https://builtin.com/blockchain">builtin</a>
                                                                    <a
                                                                        href="https://www.simplilearn.com/tutorials/blockchain-tutorial/why-is-blockchain-important">simplilearn</a>
                                                                    <a
                                                                        href="https://trufflesuite.com/guides/ethereum-overview/#what-is-a-blockchain">trufflesuite</a>
                                                                    <br><b>videos: </b>
                                                                    <a
                                                                        href="https://www.youtube.com/watch?v=SSo_EIwHSd4">Simply
                                                                        Explained</a>
                                                                    <a
                                                                        href="https://www.youtube.com/watch?v=2yJqjTiwpxM">99bitcoins
                                                                    </a>
                                                                    <br><b>comments |
                                                                        doubts:</b><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="forum-item">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="forum-icon">
                                                                    <i
                                                                        class="fa fa-bolt"></i>
                                                                </div>
                                                                <a href="forum_post.html"
                                                                    class="forum-item-title">What
                                                                    is Ethereum ?</a>
                                                                <div
                                                                    class="forum-sub-title">
                                                                    New to the community?
                                                                    Please stop by, say hi
                                                                    and tell us a bit about
                                                                    yourself. </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    890
                                                                </span>
                                                                <div>
                                                                    <small>Views</small>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    120
                                                                </span>
                                                                <div>
                                                                    <small>Topics</small>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    154
                                                                </span>
                                                                <div>
                                                                    <small>Posts</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="forum-item">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="forum-icon">
                                                                    <i
                                                                        class="fa fa-bolt"></i>
                                                                </div>
                                                                <a href="forum_post.html"
                                                                    class="forum-item-title">Ethereum
                                                                    Features</a>
                                                                <div
                                                                    class="forum-sub-title">
                                                                    New to the community?
                                                                    Please stop by, say hi
                                                                    and tell us a bit about
                                                                    yourself. </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    890
                                                                </span>
                                                                <div>
                                                                    <small>Views</small>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    120
                                                                </span>
                                                                <div>
                                                                    <small>Topics</small>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-1 forum-info">
                                                                <span class="views-number">
                                                                    154
                                                                </span>
                                                                <div>
                                                                    <small>Posts</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Read
                                    more</button>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul> <!-- End -->
        </div>
    </div>
</div>