<header class="header fixed-top">
    <div class="branding docs-branding">
      <div class="container-fluid position-relative py-2">
        <div class="docs-logo-wrapper">
          <div class="site-logo"><a class="navbar-brand" href="index.html">
              <img width="40px" src="./assets/images/logo.png">
              <span class="logo-text">ROOTBABU.SOL</span>
            </a></div>
        </div>
        <div class="docs-top-utilities d-flex justify-content-end align-items-center">
          <ul class="social-list list-inline mx-md-3 mx-lg-5 mt-2 mb-0 d-none d-lg-flex">
            <li class="list-inline-item"><a href="https://github.com/ROOTBABU/solidity" target="_blank"><i class="fab fa-github fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-discord"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fas fa-info-circle"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
  <div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="container">
      <h1 class="page-heading single-col-max mx-auto">This is the right place</h1>
      <div class="page-intro single-col-max mx-auto">
         for you if you want to become an expert in solidity.
        <a href="#">Join Our community</a>
      </div>
    </div>
  </div>
  <!--//page-header-->
  
  <div class="page-content">
    <div class="container">
      <div class="docs-overview py-5">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-asterisk"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Prerequisites</span>
                </h5>
                <div class="card-text">
                  At the end of this section you will learn basics of blockchain which help to start with solidity
                  programming language.
                </div>
                <a class="card-link-mask" href="prerequisites"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-chess-pawn"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Basics</span>
                </h5>
                <div class="card-text">
                  Coming Soon!
                </div>
                <a class="card-link-mask" href="docs-page.html#section-2"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-chess-queen"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Intermediate</span>
                </h5>
                <div class="card-text">
                  Coming Soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-chess-king"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Advanced</span>
                </h5>
                <div class="card-text">
                  Coming Soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
  
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-file-alt"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">cheatsheet</span>
                </h5>
                <div class="card-text">
                  Coming soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
  
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-bug"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Bugs and security</span>
                </h5>
                <div class="card-text">
                  Coming soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
  
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-map"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">roadmaps</span>
                </h5>
                <div class="card-text">
                  Coming Soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
  
          <div class="col-12 col-lg-4 py-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-blog"></i>
                  </span>
                  <!--//card-icon-holder-->
                  <span class="card-title-text">Blogs</span>
                </h5>
                <div class="card-text">
                  Coming soon!
                </div>
                <a class="card-link-mask" href="#"></a>
              </div>
              <!--//card-body-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
  
        </div>
        <!--//row-->
      </div>
      <!--//container-->
    </div>
    <!--//container-->
  </div>
  <!--//page-content-->