.sidenav-content {
    min-height: 100vh;
    padding: 1.2rem 4rem 2rem;
    padding-right: 3rem;
  }

.docs-content .breadcrumb li a{
  color: black;
}

.nav{
  margin-right: auto;
}

.docs-wrapper a{
  color:#642070;
}

.github-link a span{
  padding: 5px;
}

.docs-sidebar .card {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: unset;
}

hr{
  margin-top: 12px;
  margin-bottom: 24px;
}

.content-header{
  margin-top: 10px;
}

.container{
  padding: 0px;
}