.sidenav-content {
    min-height: 100vh;
    padding: 20px 3rem 2rem;
  }

.docs-content .breadcrumb li a{
  color: black;
}

.nav{
  padding: 0px 12px;
  margin-right: auto;
}

.github-link{
  padding-right: 12px;
}

.docs-wrapper a{
  color:#642070;
}

.github-link a span{
  padding: 5px;
}

.docs-sidebar .card {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: unset;
}