html {scroll-behavior: smooth;}

.docs-content a{
  color:#642070 !important;
}
/* You can add global styles to this file, and also import other style files */
.basic .docs-sidebar .docs-nav .section-items .p-element .p-accordion-tab .p-accordion-header span{
    color: #5d6778;
    font-size: 1rem;
}

.basic .docs-sidebar .docs-nav .section-items .p-element .p-accordion-tab .p-accordion-header{
    padding: 8px 0px;
}

.code-link {
    float: right;
    margin-top: 47px;
    position: absolute;
    right: 77px;
    font-size: 17px;
}

.docs-content p{
    text-align: justify;
}

.p-element .p-accordion-content .nav-item .nav-link{
    cursor: pointer;
}

/* .docs-nav .nav-link:hover:before {
    background-color: #28b76b;
} */

.docs-nav .nav-link:target {
    background-color: #28b76b;
}